<h1 class="title">EXPLORE PROJECTS</h1>
<div class="row-1" >
    <ng-container *ngIf="projects | async; let list">
        <mat-card class="card"  *ngFor="let projects of list.reverse()">
            <div class="image">
                <img [src]="projects.imageUrl">
            </div>
            <div class="content">
                <p class="name">{{ projects.projectName }}</p>
                <p class="description">
                    {{ projects.description}}
                    </p>
                <button class="donate-btn" [routerLink]="'project-details' + '/' + projects.$key">Donate</button>
            </div>
        </mat-card>
</ng-container>
</div>
<div class="row-2">
    <button class="apply-btn" routerLink="apply"><mat-icon class="icon">content_paste</mat-icon>Apply To Join</button>
</div>
