<div class="container">
    <mat-card class="card">
        <h3 class="title">{{ userName }}</h3>
        <hr>
        <div class="project-list">
           <div class="amount"><p>20$</p></div>
           <div class="project-name"><p>New Project</p></div>
        </div>
        <div class="project-list">
            <div class="amount"><p>20$</p></div>
            <div class="project-name"><p>New Project</p></div>
         </div>
    </mat-card>

    <!-- <mat-card class="card">
        <h3 class="title">Projects</h3>
        <hr>
        <div class="project-list">
           <div class="amount"><p>20$</p></div>
           <div class="project-name"><p>New Project</p></div>
        </div>
    </mat-card> -->

    <mat-card >
       <div>
        <mat-form-field class="example-full-width">
            <mat-label>Donate</mat-label>
            <input type="number" matInput placeholder="Amount">
        </mat-form-field><br>
        <button  mat-flat-button color="primary" type="submit">ADD</button>

    </div>
    </mat-card>

</div>