<div class="conatainer">
    <div class="header-block">
       <div class="col">
        <h1 class="logo">
            <mat-icon class="icon">language</mat-icon>
            Charity-Finder</h1>
       </div>
       <div class="col">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Disasters</a></li>
            <li><a href="">Contact us</a></li>
        </ul>
       </div>
       <div class="col">
        <div class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Search</mat-label>
              <input type="text" matInput placeholder="">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
          <button class="btn icon-btn"><mat-icon>add_shopping_cart</mat-icon></button>
          <button class="btn icon-btn"><mat-icon>notifications_none</mat-icon></button>

          <button *ngIf="!user" routerLink='login' class="btn" mat-flat-button color="primary">Login</button>
          <button *ngIf="user" (click)="logout()" class="btn" mat-flat-button color="primary">Logout</button> 
       </div>
    </div>
    
    <div class="main-block">
        <router-outlet></router-outlet>
    </div>
</div>


<!-- <h1 class="logo">
    <mat-icon class="icon">language</mat-icon>
    Charity-Finder</h1>
<div class="manus">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Disasters</a></li>
        <li><a href="">Contact Us</a></li>
    </ul>
    <div class="col-3">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Search</mat-label>
              <input type="text" matInput placeholder="">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </form>
    </div>
</div> -->